.search-results-page {
  padding: 20px;
}

.search-results-page h2 {
  margin-bottom: 20px;
  color: #fff;
}


.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 20px;
}

.movie-card {
  width: auto;
  height: auto;
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.movie-card img {
  width: auto;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #333;
}


.main-page {
  padding: 20px;
  background-color: #141414;
}

.main-page h2 {
  margin-bottom: 15px;
  color: #fff;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #141414;
  color: #fff;
}

.login-page h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* 입력 필드와 버튼 사이 간격 */
  padding: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #1f1f1f;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.login-box input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 300px;
  background-color: #333;
  color: #fff;
}

.login-box input::placeholder {
  color: #aaa;
}

.login-box button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #E50914;
  color: #fff;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #D40813;
}
